services:
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data
  pg:
    image: postgres:16
    environment:
      - POSTGRES_DB=bolaji
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pwd
    ports:
      - 5432:5432
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
  redis_data:
